/* Define custom fonts */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('fonts/ballpark.eot');
    src: url('fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('fonts/ballpark.woff') format('woff'),
         url('fonts/ballpark.ttf') format('truetype'),
         url('fonts/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format('truetype'),
         url('fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    background: url('image/hormig칩n-pintado.jpg');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#main_wrapper
{
    width: 1000px;
    margin: auto;
}

/* Encabezado */

header 
{
    background: url('image/banner logo.jpg');
    border: groove;
    color: white;
    
}

#main_title
{
    display: inline-block;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: 100;
}

h1, #voultboy
{
    display: inline-block;
    vertical-align: top;
    
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em ;
    margin-top: 0px;
    font-weight: 100;
}
/* Navegaci칩n */

nav
{
    display: inline-block;
    width: 700px;
    text-align: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Banner */

#banner_img
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('image/banner.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#bannerDescrip
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24); /* Los navegadores antiguos leer치n esto */
    background-color: rgba(24,24,24,0.8); /* Los navegadores nuevos leer치n esto */
    color: white;
    font-size: 0.8em;
}

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    width: 730px;
    height: 450px;
    margin-right: 15px;
    border: double;
    background: url('image/unnamed.jpg');
}

#head
{
    display: inline-block;
    vertical-align: text-top;
}

#in
{
    display: inline-block;
    vertical-align: bottom;
}


article p
{
    font-size: 0.8em;
    display: inline-block;
    vertical-align: bottom;
}

aside
{
    position:absolute;
    width: 220px;
    height: 500px;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 20px;
    padding: 10px;
    color: black;
    
}

aside img
{
    margin-right: 5px;
}

footer
{
    
    padding-top: 25px;
    display: inline-block;
}

#imagenes , #op
{
    display: inline-block;
    vertical-align: top;
}



#imagenes
{
    width: 45%;
}

#op
{
    width: 35%;
}



